<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-default">
	<div class="panel-body" >
		<h1 style="text-align: center">Home Safely</h1>
		<h2>Let your loved ones know you're safe!</h2>
		<div class="col-sm-offset-2 col-sm-10">
			<%= link_to 'Signup', new_user_path, class: 'btn btn-default' %>
	   		 <%= link_to 'Login', '', class: 'btn btn-default' %>        
		</div>
		</div>
	</div>
</div>